/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-color: black;

} */
.wrapper{
    background: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1200);
    opacity: 1;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius: 20px;
    background-size: 20% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; 
    /* background: rgba(39, 39, 39, 0.4); */
}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 550;
    font-size: 25px;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}


.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    
}
/* #searchbar {
    display: flex;
    justify-content: center;
} */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
}
.hidden {
    display: none;
}

.item {
    width: 250px;
    height: 250px;
    opacity: 1;
    transition: .5s ease;
    transition: .5s ease;

}

.gallery img {
    width: 100%;
    border-radius: 10px;

}
#searchbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.input {
    border-radius: 5px;
    border:white solid 2px;
    background-color: transparent;
    height: 30px;
    width: 300px;
    cursor: pointer;
    outline: none;
    border: solid black 2px;

}
#input-searchbar {
    padding: 5px;
    margin-left: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.button {
    border-radius: 5px;
    font-size: 16px;
    border: white solid 2px;
    background-color: rgb(185, 159, 159);
    height: 30px;
    width: 70px;
    cursor: pointer;
    border: solid black 2px;

}

.button:hover {
    background-color: black;
    color: white;
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(251, 247, 247);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 410px) {
    .input {
       display: flex;
       justify-content: center;
    }
    
}
#favorites-section {
    margin-top: 20px;
    padding: 50px;
  }
  
  #favorites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .favorite-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    max-width: 200px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .favorite-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }

  h2 {
    padding-left: 130px;

  }
  #logo {
    cursor: pointer;
  }
  